<div class="dynamic-field form-passwordconfirm" [ngClass]="config.classes?.wrapper" [formGroup]="group">
  <ng-template ngFor let-control [ngForOf]="config.controls" [formGroup]="passwordGroup">
    <div class="form-input" [ngClass]="control.classes?.wrapper">
      <label *ngIf="control.label" [ngClass]="control.classes?.label">{{control.label}}</label>
      <div [ngClass]="control.classes?.inner">
        <input
          type="password"
          [ngClass]="control.classes?.control"
          [formControl]="groupControls[control.name]"
          [attr.disabled]="control.disabled"
          [attr.placeholder]="control.placeholder"
          [value]="control.value || null"
        />
      </div>
    </div>
  </ng-template>
</div>
