<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">Random Teams Generator</h1>
    <h3>Tool zum Auslosen zufälliger Teams für Turniere oder andere Veranstaltungen</h3>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <h2>Überschrift 1</h2>
            <p>Inhalt Spalte 1</p>
        </div><!-- //.col-md-4 -->
        <div class="col-md-4">
            <h2>Überschrift 2</h2>
            <p>Inhalt Spalte 2</p>
        </div><!-- //.col-md-4 -->
        <div class="col-md-4">
            <h2>Überschrift 3</h2>
            <p>Inhalt Spalte 3</p>
        </div><!-- //.col-md-4 -->
    </div><!-- //.row -->

</div> <!-- /container -->
