
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand qp-tournament-navbar-brand" routerLink="home">Random Teams Generator</a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="draw">Teams</a></li>
            <li class="nav-item active"><a class="nav-link">Archiv</a></li>
        </ul>
    </div>
</nav>

<main role="main">
    <router-outlet></router-outlet>
</main>

<footer class="container qp-tournament-footer">
    <hr />
    <p>(c) Quaese 2018 - Tool zum zufälligen Auslosen von Teams</p>
</footer>
