<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Administration</h1>
        <h3>Diese Seite ist nur Administratoren zugänglich.</h3>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->

<div class="container">
    <nav class="sub-nav mb-4">
        <ul class="nav nav-tabs">
            <!-- <li class="nav-item"><a class="nav-link"></a></li> -->
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['user-list']">Liste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['user-create']">Neuer Benutzer</a>
            </li>
            <li class="nav-item" *ngIf="isEdit">
                <a class="nav-link" [ngClass]="{active: isEdit}">Edit</a>
            </li>
        </ul>
    </nav>
</div><!-- /.container -->

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div><!-- //.col-md-12 -->
    </div><!-- //.row -->

</div><!-- /.container -->
